#page-home {
	height: 100vh;
	background: url("../assets/home-background.svg") no-repeat;
	background-position: 35vw 8vh;
}

#page-home .content {
	width: 90%;
	max-width: 1100px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#page-home .content header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 48px; 
}

#page-home header a {
	display: flex;
	font-weight: bold;
	color: var(--title-color);
}


#page-home header a span {
	background-image: url("../assets/log-in.svg");
	width: 20px;
	height: 20px;
	display: flex;
	margin-right: 16px;
}

#page-home main {
	max-width: 560px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

#page-home main h1 {
	font-size: 54px;
}

#page-home main p {
	font-size: 24px;
	line-height: 34px;
	margin-top: 24px
}

#page-home main a {
	width: 100%;
	max-width: 360px;
	height: 72px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	margin-top: 40px;
	background: var(--primary-color);
	transition: 400ms;
}

#page-home main a:hover {
	background-color: #2fb86e;
}

#page-home main a span {
	width: 72px;
	height: 72px;
	border-radius: 8px 0 0 8px; 
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.08);
}

#page-home main a span::after {
	content: "";
	width: 20px;
	height: 20px;
	background-image: url("../assets/search.svg");
}

#page-home main a strong {
	flex: 1;
	text-align: center;
	color: white;
}
